name: Build Controller Image

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
    paths-ignore: [ "/docs" ]

  pull_request:
    branches: [ "main" ]
    paths:
    - '.github/workflows/build-controller-image.yml'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: drifting-in-space/plane-controller

jobs:
  build:
    runs-on: ubuntu-latest-16-cores
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Depot
        uses: depot/setup-action@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,enable=true,priority=100,prefix=sha-,suffix=,format=short
            type=semver,pattern={{version}}
            type=raw,value=latest

      - name: Build and push Docker image
        id: build-and-push
        uses: depot/build-push-action@v1
        with:
          context: "."
          build-args: |
            SCCACHE_BUCKET=${{ secrets.PLANE_SCCACHE_BUCKET }}
            AWS_ACCESS_KEY_ID=${{ secrets.PLANE_AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.PLANE_AWS_SECRET_ACCESS_KEY }}
          file: "controller/Dockerfile"
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          buildx-fallback: true
