name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v1
      with:
        cache-on-failure: true

    - name: Install cargo-nextest
      run: cargo install cargo-nextest

    - name: Run tests
      run: cargo nextest run simple_ws_backend_proxy --no-capture

    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: test-data
        path: dev/test-scratch
